<!DOCTYPE html>

<head>
  <title>Cover Letter Builder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='cover_letter.png') }}" class="icon" />
  <h1>Cover Letter Builder</h1>
  <h5>Cover Letter Builder does not save any of the the information you submit</h6>

  <form action="/" method="post">
    <table>
      <tr>
        <td>POSITION</td>
        <td>COMPANY</td>
      </tr>
      <tr>
        <td><input type="text" name="position" required></td>
        <td><input type="text" name="company" required></td>
      </tr>
    </table>

    <br>

    <table>
      <tr>
        <td>RESUMÉ</td>
        <td>JOB DESCRIPTION</td>
      </tr>
      <tr>
        <td>
          <textarea rows="4" cols="50" name="resume"></textarea>
        </td>
        <td>
          <textarea rows="4" cols="50" name="job_description"></textarea>
        </td>
      </tr>
    </table>
    <input type="submit" value="Submit">
  </form>

  {% if result %}
  <p>
  <div class="result">{{ result }}</div>
  </p>
  {% endif %}



</body>