<!DOCTYPE html>

<head>
  <title>Cover Letter Builder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <h1>Cover Letter Builder</h1>
  <h3>CSS coming soon</h3>

  <table>
    <tr>
      <td>COMPANY</td>
      <td>POSITION</td>
    </tr>
    <tr>
      <td><input type="text" name="user"></td>
      <td><input type="text" name="email"></td>
    </tr>
  </table>

  <br>

  <table>
    <tr>
      <td>RESUMÉ</td>
      <td>JOB DESCRIPTION</td>
    </tr>
    <tr>
      <td>
        <form><textarea rows="4" cols="50"></textarea></form>
      </td>
      <td>
        <form><textarea rows="4" cols="50"></textarea></form>
      </td>
    </tr>
  </table>

  <input type="submit" value="Submit">

</body>